@model IEnumerable<MySportTips.Data.Models.ApplicationUser>
@{
    this.ViewData["Title"] = "All users";
}
<!-- breadcrumb begin -->
<div class="breadcrumb-bettix result-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="breadcrumb-content">
                    <h2>Games</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            All Games
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}
<div class="result">
    <div class="container">
        <div class="result-sheet-cover">
            <div class="result-sheet">
                <h4 class="result-title">All Sport Tips</h4>
                <form id="live-search" action="" class="form-inline" method="get" style="float: right">
                    <fieldset>
                        <input type="text" class="form-control mr-md-2" placeholder="Search" id="filter" aria-label="Search" value="" />
                        <span class="btn btn-outline-danger my-2 my-sm-0"><i class="fas fa-search"></i></span>
                        <hr />
                        <a class="blockquote" id="filter-count" style="color: #dc143c"></a>
                    </fieldset>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <th scope="row">
                                    <span class="icon">
                                        <i class="flaticon-football"></i>
                                    </span>
                                </th>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td><a asp-action="EditUser" asp-route-id="@user.Id" asp-route-UserId="@user.Id" class="btn btn-outline-danger">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/theme/assets/js/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#filter").keyup(function () {

                // Retrieve the input field text and reset the count to zero
                var filter = $(this).val(), count = 0;

                // Loop through the comment list
                $("table tbody tr").each(function () {

                    // If the list item does not contain the text phrase fade it out
                    if ($(this).text().search(new RegExp(filter, "d")) < 0) {
                        $(this).fadeOut();

                        // Show the list item if the phrase matches and increase the count by 1
                    } else {
                        $(this).show();
                        count++;
                    }
                });

                // Update the count
                var numberItems = count;
                $("#filter-count").text("Users found = " + count);

            });
        });
    </script>
    <script>
        let foundUsers = document.getElementById('filter-count');
        document.getElementById('filter').addEventListener('change', (event) => {
            if (event.target.value == '') {
                foundUsers.textContent = '';
            }
        });
    </script>
}




