@using System.Security.Cryptography.X509Certificates
@model IEnumerable<MySportTips.Data.Models.ApplicationUser>
@{
    this.ViewData["Title"] = "All users";
}
<!-- breadcrumb begin -->
<div class="breadcrumb-bettix result-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="breadcrumb-content">
                    <h2>Games</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            All Games
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}
@if (Model.Any())
{
    <!-- result begin -->
    <div class="result">
        <div class="container">
            <div class="result-sheet-cover">
                <div class="result-sheet">
                    <h4 class="result-title">All Sport Tips</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in @Model)
                            {
                                <tr>
                                    <th scope="row">
                                        <span class="icon">
                                            <i class="flaticon-football"></i>
                                        </span>
                                    </th>
                                    <td class="date">@user.UserName</td>
                                    <td class="team-name">@user.Email</td>
                                    <td><a asp-action="EditUser" asp-route-id="@user.Id" asp-route-UserId="@user.Id" class="btn btn-outline-danger">Edit</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- result end -->
}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet.
        </div>
        <div class="card-body">
            <h5>
                Use the button below to create a user
            </h5>
        </div>
    </div>
}



