@model MySportTips.Web.ViewModels.Games.AddGameInputModel
@{
    this.ViewData["Title"] = "Create new game";
    var sportItem = this.Model.SportItems.Select(x => new SelectListItem(x.Value, x.Key));
    var countryItem = this.Model.CountryItems.Select(x => new SelectListItem(x.Value, x.Key));
    var competitionItem = this.Model.CompetitionItems.Select(x => new SelectListItem(x.Value, x.Key));
    var teamItem = this.Model.TeamItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Add Game</h3>
    </div>
    <form method="post" enctype="application/x-www-form-urlencoded">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="DateTime"></label>
                <input asp-for="DateTime" class="form-control" placeholder="Date Time" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="SportName"></label>
                <div class="input-group">
                    <input asp-for="SportName" class="form-control" placeholder="Sport" />
                    <div class="input-group-append">
                        <div class="input-group-prepend">
                            <select class="form-control" asp-for="SportName" placeholder="Sport" style="width: 100%">
                                @foreach (var sport in sportItem)
                                {
                                    <option value="@sport.Text">@sport.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="SportName" class="text-danger"></span>
            </div>
            <br />
            <div>
                <label asp-for="CountryName"></label>
                <div class="input-group">
                    <input asp-for="CountryName" class="form-control" placeholder="Country" />
                    <div class="input-group-append">
                        <div class="input-group-prepend">
                            <select class="form-control" asp-for="CountryName" placeholder="Country" style="width: 100%">
                                @foreach (var country in countryItem)
                                {
                                    <option value="@country.Text">@country.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <br />
            <div>
                <label asp-for="CompetitionName"></label>
                <div class="input-group">
                    <input asp-for="CompetitionName" class="form-control" placeholder="Competition" />
                    <div class="input-group-append">
                        <div class="input-group-prepend">
                            <select class="form-control" asp-for="CompetitionName" placeholder="Competition" style="width: 100%">
                                @foreach (var competition in competitionItem)
                                {
                                    <option value="@competition.Text">@competition.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="CompetitionName" class="text-danger"></span>
            </div>
            <br />
            <div>
                <label asp-for="HomeTeamName"></label>
                <div class="input-group">
                    <input asp-for="HomeTeamName" class="form-control" placeholder="Home team" />
                    <div class="input-group-append">
                        <div class="input-group-prepend">
                            <select class="form-control" asp-for="HomeTeamName" placeholder="Home team" style="width: 100%">
                                @foreach (var team in teamItem)
                                {
                                    <option value="@team.Text">@team.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="HomeTeamName" class="text-danger"></span>
            </div>
            <br/>
            <div>
                <label asp-for="AwayTeamName"></label>
                <div class="input-group">
                    <input asp-for="AwayTeamName" class="form-control" placeholder="Away team" />
                    <div class="input-group-append">
                        <div class="input-group-prepend">
                            <select class="form-control" asp-for="AwayTeamName" placeholder="Away team" style="width: 100%">
                                @foreach (var team in teamItem)
                                {
                                    <option value="@team.Text">@team.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="AwayTeamName" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
