@using MySportTips.Common
@model MySportTips.Web.ViewModels.Games.ListGamesViewModel
@{
    this.ViewData["Title"] = "All events";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1>@this.ViewData["Name"]</h1>

<table class="table table-striped table-hover table-responsive-lg">
    <thead>
        <tr>
            <th>
                <a>#</a>
            </th>
            <th>
                <a>Event Date</a>
            </th>
            <th>
                <a>Sport</a>
            </th>
            <th>
                <a>Country</a>
            </th>
            <th>
                <a>Competition</a>
            </th>
            <th>
                <a>Event</a>
            </th>
            <th>
                <a>Info</a>
            </th>
            <th>
                <a>Edit</a>
            </th>
            <th>
                <a>Tip</a>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var game in @Model.Games)
        {
        <tr>
            <th scope="row">@game.GameId</th>
            <td>@game.DateTime</td>
            <td>@game.SportName</td>
            <td>@game.CountryName</td>
            <td>@game.CompetitionName</td>
            <td><a>@game.HomeTeamName</a> v <a>@game.AwayTeamName</a></td>
            <td><a asp-action="ById" asp-route-id="@game.GameId"  class="btn btn-info">Info</a></td>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <td><a asp-action="EditGame" asp-route-id="@game.GameId" asp-route-GameId="@game.GameId" class="btn btn-info">Edit</a></td>
                <td><a asp-controller="Tips" asp-action="AddTip" asp-route-id="@game.GameId" asp-route-GameId="@game.GameId" class="btn btn-success">Add Tip</a></td>
            }
        </tr>
        }
    </tbody>
</table>
