@model MySportTips.Web.ViewModels.Tips.ListTipsViewModel
@{
    this.ViewData["Title"] = "All Current";
}

<table class="table table-striped table-hover table-responsive-md">
    <thead>
    <tr>
        <th>
            <a>Event date</a>
        </th>
        <th>
            <a>Competition</a>
        </th>
        <th>
            <a>Event</a>
        </th>
        <th>
            <a>Selection</a>
        </th>
        <th>
            <a>Odd</a>
        </th>
        <th>
            <a>Time period</a>
        </th>
        <th>
            <a>Info</a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var tip in @Model.Tips)
    {
        <tr>
            <td>@tip.DateTime</td>
            <td>@tip.CompetitionName</td>
            <td><a>@tip.HomeTeamName</a> v <a>@tip.AwayTeamName</a></td>
            <td>@tip.Selection</td>
            <td>@tip.Odd</td>
            <td>@tip.TimePeriod</td>
            <td><a asp-action="ById" asp-route-id="@tip.TipId" class="btn btn-info">Read more</a></td>
        </tr>
    }
    </tbody>
</table>