@model MySportTips.Web.ViewModels.Tips.ListTipsViewModel
@{
    this.ViewData["Title"] = "All Tips";
}
<!-- breadcrumb begin -->
<div class="breadcrumb-bettix result-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="breadcrumb-content">
                    <h2>Tips</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            Tips
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}
<!-- result begin -->
<div class="result">
    <div class="container">
        <div class="result-sheet-cover">
            <div class="result-sheet">
                <h4 class="result-title">All Sport Tips</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Date & Time</th>
                            <th scope="col">Competition</th>
                            <th scope="col">Event</th>
                            <th scope="col">Selection</th>
                            <th scope="col">Odd</th>
                            <th scope="col">Win/Lost</th>
                            <th scope="col">Period</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tip in @Model.Tips)
                        {
                            <tr>
                                <th scope="row">
                                    <span class="icon">
                                        <i class="flaticon-football"></i>
                                    </span>
                                </th>
                                <td class="date">@tip.DateTime.ToString("M")</td>
                                <td class="date">@tip.CompetitionName</td>
                                <td class="team-name">@tip.HomeTeamName<span class="versace">vs</span> @tip.AwayTeamName</td>
                                <td class="team-name">@tip.Selection</td>
                                <td class="score">@tip.Odd.ToString("F")</td>
                                @if (tip.StatusName == "Win")
                                {
                                    <td class="winResult">@tip.StatusName</td>
                                }
                                else if (tip.StatusName == "Lost")
                                {
                                    <td class="score">@tip.StatusName</td>
                                }
                                else
                                {
                                    <td class="scoreunkown">@tip.StatusName</td>
                                }
                                <td class="winResult">@tip.TimePeriod</td>
                                <td>
                                    <nav class="navbar navbar-expand-lg">
                                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                            <ul class="navbar-nav ml-auto">
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Menu
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <a asp-action="ById" asp-route-id="@tip.TipId" asp-route-TipId="@tip.TipId" class="dropdown-item">Info</a>
                                                        <a asp-action="EditTip" asp-route-id="@tip.TipId" asp-route-TipId="@tip.TipId" class="dropdown-item">Edit</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <partial name="_AllTipsPagingPartial" />
            </div>
        </div>
    </div>
</div>
<!-- result end -->