@model MySportTips.Web.ViewModels.Tips.TipViewModel
@{
    this.ViewData["Title"] = "Tip";
}
<!-- breadcrumb begin -->
<div class="breadcrumb-bettix betslip-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="breadcrumb-content">
                    <h2>Prediction Slip</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-controller="Tips" asp-action="AllCurrentTips">All current predictions</a>
                        </li>
                        <li>
                            Prediction Slip
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- bet-slip begin -->
<div class="bet-slip">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="bet-slip-content">
                    <div class="box-heading">
                        <h4>@Model.CountryName - @Model.CompetitionName - <small>@Model.DateTime.AddHours(3).ToString("f") GMT+3</small></h4>
                    </div>
                    <div>
                        <div class="different-bet">
                            <div class="team-opponent">
                                <span class="team">@Model.HomeTeamName <span class="versace"><img src="~/theme/assets/img/vs-icon.png" alt=""></span> @Model.AwayTeamName</span>
                            </div>
                            <div class="single-bet">
                                
                                <div class="left-side">
                                    <span class="bet-place">Tip - @Model.Selection</span>
                                </div>
                                <div class="right-side">
                                    <div class="left-side">
                                        <span class="bet-returns">Tag - @Model.Tag</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-bet">
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="bet-slip-sidebar">
                    <h4 class="title">@Model.Selection</h4>
                    <div class="sidebar-content">
                        <ul>
                            <li>
                                <span class="title" style="">Status</span>
                                <span class="number">@Model.StatusName</span>
                            </li>
                            <li>
                                <span class="title">Odd</span>
                                <span class="number">@Model.Odd.ToString("F")</span>
                            </li>
                        </ul>
                        <div class="total-returns">
                            <span class="text">
                                @Model.TimePeriod
                            </span>
                        </div>
                        <div class="btn-for-bet">
                            <a class="place-bet-btn">Bookmaker - Bet365</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bet-slip end -->